body {
  font-family: Arial, sans-serif;
  background-color: #FF8C00;
  color: #333;
  display: flex;
  width: full;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #000080;
  margin: 0px;
}

form {
  margin: 20px;
  padding: 20px;
  background: white;
  border: 1px solid #ccc;
}

p {
  color: #666;
  margin: 10px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.error {
  color: red;
}

a {
  color: #000080;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  width: fit-content;
  margin: 0px;
  padding: 0px;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #000080;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none; /* Removes underline from links */
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

.button:hover, .button:focus {
  background-color: #0056b3; /* Darker shade on hover/focus */
  transform: scale(1.05); /* Slightly enlarge the button on hover/focus */
  color: #ffffff;
  text-decoration: none; /* Ensures text decoration doesn't reappear on hover/focus */
}
